<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashboardmodule">

    <application>
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/CustomNoActionBar"/>
    </application>

</manifest>